/* CHRIS SHARKEY UPDATED THIS CSS FOR STYLE AND LAYOUT */

/* apply a natural box layout model to all elements */
* {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

/* reset rules */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, hgroup, menu, nav, section {
   display: block;
}

body 
{
   line-height: 1;
   width: 60%;
   margin: 0 auto;
   font-family: garamond, 'times new roman', times, serif;
   background: rgb(246,245,242);
}

ol, ul {
   list-style: none;
}

blockquote, q {
   quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
   content: '';
   content: none;
}

table {
   border-collapse: collapse;
   border-spacing: 0;
   text-align: center;
	width: 100%;   
}

a:link, a:visited {
   text-decoration: none;
   color: inherit;
}

a:hover {
   text-decoration: none;
   color: inherit;
}

a:active {
   text-decoration: none;
   color: inherit;
}

/* container for header and nav */
div.container 
{
   float: left;
   padding-top: 5%;
}

/* page header */
header
{
	height: auto;
	margin-bottom: 2%;
	padding: 0;
	display: flex;
	display: -webkit-flex;
}

#accent img 
{
   display: block;
}

/* main content */
article 
{
   background: black;
   width: 581px;
   padding: 10px;
   margin-left: 20%;
   margin-right: 20%;
}



article h2 
{
	
	color: #FFFFFF;
	font-size: 250%;
	font-family: Arial, Time New Roman, Comic Sans MS;
	font-weight: bolder;
	position: relative;
	text-align: center;
	text-shadow: 10px 10px 20px darkblue, 0px 0px 25px blue, 0px 0px 5px skyblue;
	text-justify: auto;

}

article div.results 
{
   background: white;
   border-radius: 5px;
   margin: 5px 15px 15px;
   padding: 5px 30px;
}

article h3 
{
   font-size: 18pt;
   font-weight: bold;
   text-align: center;
   padding-bottom: 10px;
}

article div.results p {
   margin-left: 35%;
   padding-bottom: 5px;
}

#errorText {
   display: none;
   text-align: center;
   padding: 10px;
   margin: 0 auto;
   margin: 15px 15px 0;
   background: rgb(124,124,136);
   color: white;
   border: 2px solid rgb(190,50,38);
}

/* form */
form 
{
   width: 561px;
   margin: 0 auto;
   padding-bottom: 15px;
}

fieldset {
   position: relative;
   padding: 5px 30px 70px 30px;
   background: white;
   border-radius: 5px;
   margin-left: 15px;
   margin-right: 15px;
   margin-bottom: 25px;
}

fieldset:last-of-type {
   margin-bottom: 0;
}

legend {
   font-weight: bold;
   font-size: 36px;
   font-family: tangerine, cursive;
   position: absolute;
   padding: 10px 0;
}

input, label, select, textarea, fieldset p, div.errorMessage, div.fullContact, #ccNumErrorMessage, #cvvErrorMessage {
   position: relative;
   top: 50px;
   line-height: 1.2em;
}

label, input {
   display: block;
}

#expMoLabel, #expYrLabel {
   position: absolute;
   left: -10000px;
}

#buttonContainer {
   width: 100%;
   text-align: center;
}

#orderButton {
   margin: 0 auto;
   font-family: tangerine, cursive;
   font-size: 24px;
   top: 15px;
   -webkit-appearance: none;
   display: inline-block;
}

fieldset.checks input, div.checks input {
   float: left;
   margin-right: 5px;
}

fieldset.checks textarea {
   margin-left: 21px;
   width: 90%;
   height: 50px;
}

fieldset.text label {
   width: 8em;
   text-align: right;
   float: left;
   clear: left;
   margin-right: 10px;
   margin-top: 5px;
}

fieldset.text input, fieldset.text select {
   margin-top: 5px;
   margin-right: 5px;
}

fieldset div.errorMessage, #ccNumErrorMessage, #cvvErrorMessage {
   display: none;
   color: red;
   margin-top: 10px;
}

#ccNumErrorMessage, #cvvErrorMessage {
   margin-left: 8.5em;
}

div.checks label {
   width: auto;
   text-align: left;
   float: none;
   clear: none;
}

div.inline label, div.inline input, div.inline select, div.inline div {
   display: inline-block;
   float: none;
   text-align: center;
   width: auto;
}

div.inline option {
   text-align: left;
}

#billFName, #billLName, #delivFName, #delivLName, #billCity, #delivCity, #billPhone, #delivPhone {
   width: 15em;
}

#billStreet, #delivStreet, #billEmail, #delivEmail {
   width: 20em;
}

#billZip, #delivZip {
   width: 10em;
}

#ccNum {
   width: 16em;
}

#cvv {
   width: 4em;
}
