/*  JavaScript 6th Edition
    Chapter 2
    Chapter case

    Fan Trick Fine Art Photography
    Large format style sheet

    Filename: fantrick.css
*/

/* apply a natural box layout model to all elements */
* {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

/* reset rules */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video 
{
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section 
{
   display: block;
}

body 
{
   line-height: 1;
   width: 80%;
   background: white;
   margin: 0 auto;
   font-family: Georgia, Times New Roman, Times, serif, sans-serif; 
   position: relative;

}

ol, ul 
{
   list-style: none;
}

blockquote, q 
{
   quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after 
{
   content: '';
   content: none;
}

table 
{
   border-collapse: collapse;
   border-spacing: 0;
}

a:link, a:visited 
{
   text-decoration: none;
   color: inherit;
}

a:hover 
{
   text-decoration: underline;
   color: inherit;
}

a:active 
{
   text-decoration: none;
   color: inherit;
}

/* container */
#container 
{
   background: #66cccc;
}

/* page header */
header 
{
   background: #66cccc;
   font-size: 48px;
   float: left;
}

/* Estimate Page Info Section*/

#info
{
   font-size: 120%;
   font-family: inherit;
   font-weight: bold;
   padding-top: 10px;
   padding-bottom: 20px;
   background: #66cccc;
   text-justify: auto;
   float: right;
   line-height: 1.2;
   width: 800px;
}

#info h2
{
	font-weight: bold;
	font-size: 250%;
	padding-bottom: 20px;
	color: #FFFFFF;
    text-shadow: 10px 10px 20px darkblue, 0px 0px 25px blue, 0px 0px 5px skyblue;
}

/* nav ul 
{
   text-align: center;
}

nav ul li 
{
   display: inline-block;
   padding: 8px 15px;
   margin: 0 3px;
   background: #EFE0B9;
   -moz-border-radius-topleft: 7px;
   -moz-border-radius-topright: 7px;
   -webkit-border-top-left-radius: 7px;
   -webkit-border-top-right-radius: 7px;
   border-top-left-radius: 7px;
   border-top-right-radius: 7px;
   -webkit-box-shadow: 2px -2px 0px #643B0F,
                       2px 0px 0px #643B0F;
   -moz-box-shadow:    2px -2px 0px #643B0F,
                       2px 0px 0px #643B0F;
   box-shadow:         2px -2px 0px #643B0F,
                       2px 0px 0px #643B0F;
}

nav ul #currentpage 
{
   background: #643B0F;
   color: white;
}
 */
/* main content */
article 
{
   width: 800px;
   float: right;
   text-align: left;
   background: white;
   padding: 10px;
   border: 2px solid black;
}

article h2 
{
   font-size: 1.2em;
   font-weight: bold;
   text-align: center;
   margin-bottom: 6px;
}

article p 
{
   margin-bottom: 6px;
   line-height: 1.2em;
}

article table 
{
   margin: 0 auto;
}

/* What Does This Do? */
article th, article td 
{
   border: 1px solid black;
   border-collapse: collapse;
   padding: 5px;
}

/* What Does This Do? */
article th 
{
   font-weight: bold;
   background: black;
}

/* form */
form 
{
   width: 600px;
   margin: 0 auto;
}

form fieldset
{
   border: none; 
   background: #e1e1ea;
   position: relative;
}

form legend 
{
   font-size: 1.5em;
   font-weight: bold;
   margin: 10px;
}

form legend span 
{
   position: relative;
   top: 20px;
}

form label 
{
   display: block;
   font-size: 1.2em;
   width: 480px;
   text-align: right;
}
form label p 
{
   float: left;
   width: 100%;
   text-align: right;
}

form label p:nth-child(2) 
{
   font-size: 0.8em;
}

form input 
{
   padding: 1%;
   background: #333;
   color: #BBB;
   border: none;
   font: normal 1em/1.5em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
   float: right;
   clear: both;
   width: 100px;
   margin-left: 10px;
   margin-bottom: 20px;
   position: relative;
   top: -0.4em;
}

form input[type="checkbox"] 
{
   position: static;
}

/* sidebar (ESTIMATE TOTAL DISPLAY)*/
aside 
{
   float: left;
   color: black;
   top: 190px;
   padding: 30px;
   font-size: 110%;
   font-style: oblique;
}

aside #estimate 
{
   font-weight: bold;
}

/* calendar */
#cal {
   display: none;
   position: absolute;
   left: 230px;
   top: 65px;
   background: black;
   color: white;
   padding: 10px;
   -moz-border-radius-topleft: 10px;
   -webkit-border-top-left-radius: 10px;
    border-top-left-radius: 10px;
   -moz-border-radius-topright: 10px;
   -webkit-border-top-right-radius: 10px;
    border-top-right-radius: 10px;
}

#cal table {
   clear: both;
}

#cal table caption {
   font-weight: bold;
   font-size: 14pt;
   margin-top: 10px;
   margin-bottom: 10px;
   background: rgb(46,49,146);
}

#cal table th {
   text-align: right;
}

#cal table th, #cal table td {
   width: 2em;
   padding: 4px;
}

#cal table td {
   color: rgb(178,184,183);
   text-align: right;
   cursor: pointer;
}

#prev {
   float: left;
   padding: 4px;
   cursor: pointer;
}

#next {
   float: right;
   padding: 4px;
   cursor: pointer;
}

#cal table td.futuredate {
   color: white;
}

#cal table td.futuredate:hover, #prev:hover, #next:hover, #close:hover {
   background: yellow;
   color: black;
}

#close {
   color: white;
   float: right;
   padding: 0 4px;
   cursor: pointer;
}

#close span {
   font-size: 20pt;
}

/* footer */
footer 
{
   background: #66cccc;
   width: 100%;
   clear: both;
   font-size: 14px;
   padding: 10px;
}

footer p 
{
   text-align: center;
}